body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:1683px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:1683px;
}
#u22 {
  position:absolute;
  left:2px;
  top:834px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:751px;
  top:610px;
  width:96px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u24 {
  position:absolute;
  left:519px;
  top:1021px;
  width:87px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u25 {
  position:absolute;
  left:751px;
  top:1412px;
  width:96px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
