body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:2055px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:2055px;
}
#u55 {
  position:absolute;
  left:2px;
  top:1020px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
