body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:1966px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:1966px;
}
#u11 {
  position:absolute;
  left:2px;
  top:975px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:219px;
  top:1243px;
  width:82px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13 {
  position:absolute;
  left:462px;
  top:884px;
  width:100px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u14 {
  position:absolute;
  left:270px;
  top:38px;
  width:136px;
  height:116px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u15 {
  position:absolute;
  left:240px;
  top:11px;
  width:61px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u16 {
  position:absolute;
  left:371px;
  top:11px;
  width:76px;
  height:27px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u17 {
  position:absolute;
  left:462px;
  top:11px;
  width:66px;
  height:27px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u18 {
  position:absolute;
  left:538px;
  top:11px;
  width:67px;
  height:27px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19 {
  position:absolute;
  left:311px;
  top:11px;
  width:50px;
  height:27px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u20 {
  position:absolute;
  left:183px;
  top:577px;
  width:223px;
  height:275px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
