body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:1339px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:1339px;
}
#u57 {
  position:absolute;
  left:2px;
  top:662px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:78px;
  top:346px;
  width:100px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u59 {
  position:absolute;
  left:78px;
  top:393px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
