body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:1669px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:1669px;
}
#u34 {
  position:absolute;
  left:2px;
  top:826px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:188px;
  top:1189px;
  width:127px;
  height:212px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
