body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:1551px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:1551px;
}
#u37 {
  position:absolute;
  left:2px;
  top:768px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:186px;
  top:1114px;
  width:132px;
  height:218px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
