body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:1552px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:1552px;
}
#u40 {
  position:absolute;
  left:2px;
  top:768px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:190px;
  top:1123px;
  width:130px;
  height:189px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
